.post{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px 0 20px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h3{
    color: pink;
}

.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0px 0px 0px 20px;
}

.introducao p{
    margin-bottom: 50px;
    font-size: large;
}

.introducao img{
    width: 95%;
    height: 500px;
    border-radius: 5px;
}