.container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

@media (min-width: 1441px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 1050px) {
    .container {
        flex-direction: column;
        margin-top: 80px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 60px;
        padding: 0 5px;
    }
}